<!-- Environment Env Var  dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalEnvEnvVars" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-width-500 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Environment Variables</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row-12" id="divEnvEnvVarsList">
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info disabled" disabled id="btnEnvEnvVarsOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
