<!-- login -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalLogin" role="dialog"
     style="z-index: 10000000;" tabindex="-1">
    <div class="modal-dialog modal-400" role="document" style="z-index: 100000000" tabindex="-1">
        <div class="modal-content">
            <div class="modal-header center" id="inputboxHeader">
                <h6 class="modal-title">Login</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label target="inpLoginUsername">User name:</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control form-control-sm" id="inpLoginUsername" type="text">
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-6">
                        <label target="inpLoginPassword">Password:</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control form-control-sm" id="inpLoginPassword" type="password">
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnLoginLogin" tabindex="1" type="button">Log in</button>
                <span style="width: 50px;"></span>
                <!--<button type="button" class="btn btn-outline-secondary" tabindex="2" id="btnLoginCancel" data-dismiss="modal">Cancel</button>-->
            </div>
        </div>
    </div>
</div>
