<!-- locks manager filter -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal  fade" id="modalLocksManagerFilter" role="dialog"
     style="z-index: 2000" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header center">
                <h6 class="modal-title">Locks Manager: Filter</h6>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <label for="txtLocksManagerFilter">Filter:</label>
                    </div>
                    <div class="col-9">
                        <div class="input-group">
                            <input class="form-control form-control-sm" id="txtLocksManagerFilter" maxlength="255"
                                   type="text">
                            <small class="form-text " id="hlpRegionAddName" style="font-size: 53%;">
                                Type the text you want to filter the locks on. It may be a global name, a subscript or a combination of the two.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <span class="center">
                    <button class="btn btn-outline-info disabled" disabled id="btnLocksManagerFilterOk" tabindex="10" type="button">Ok
                    </button>
                    <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnLocksManagerFilterCancel" tabindex="-1" type="button">Cancel
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
