<!-- Routine viewer properties dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalRviewerProps" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalRviewerPropsHeader">Properties</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="font-size: 12px;">
                <div class="bg-white rounded-lg p-3 shadow ydb-back6">
                    <strong>Source</strong>
                    <div style="height:12px;"></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>File:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span class="inconsolata" id="rViewerPropsFileFile"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Path:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span class="inconsolata" id="rViewerPropsFilePath"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Size:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span class="inconsolata" id="rViewerPropsFileSize"></span> bytes
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 properties-value">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Owner group:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsFileOwnerGroup"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Last change:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsFileBirth">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Owner user:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsFileOwnerUser"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Last access:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsFileLastAccess"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 properties-value">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Last modified:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsFileLastModified">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="bg-white rounded-lg p-3 shadow ydb-back6">
                    <strong>Object</strong>
                    <div style="height:12px;"></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>File:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span class="inconsolata" id="rViewerPropsObjFile"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Path:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span class="inconsolata" id="rViewerPropsObjPath"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Size:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span class="inconsolata" id="rViewerPropsObjSize"></span> bytes
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 properties-value">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Owner group:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsObjOwnerGroup"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Last change:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsObjBirth">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Owner user:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsObjOwnerUser"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Last access:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsObjLastAccess"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 properties-value">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Last modified:</span>
                                </div>
                                <div class="col-6 properties-value">
                                    <span id="rViewerPropsObjLastModified">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
