/****************************************************************
 *								                                *
 * Copyright (c) 2023-2024 YottaDB LLC and/or its subsidiaries. *
 * All rights reserved.						                    *
 *								                                *
 *	This source code contains the intellectual property	        *
 *	of its copyright holder(s), and is made available	        *
 *	under a license.  If you do not know the terms of	        *
 *	the license, please stop and do not read further.	        *
 *								                                *
 ****************************************************************/

body {
    color: var(--ydb-purple);
}

h1 {
    font-family: 'Inconsolata', sans-serif;
}

h2 {
    font-family: 'Inconsolata', sans-serif;
}

h3 {
    font-family: 'Inconsolata', sans-serif;
}

h4 {
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
}

li {
    color: var(--ydb-status-green);
}

table {
    border: 1px silver solid;
}

tr {
    border: 1px silver solid;
}

th {
    border: 1px black solid;
    background: var(--ydb-orange);
    padding: 3px;
}

td {
    border: 1px silver solid;
    padding: 5px;
}

blockquote {
    background: var(--ydb-lightgray);
    border-left: 10px solid var(--ydb-orange);
    margin: 1em 10px;
    padding: 1px 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

img {
    border: 2px silver solid;
    border-radius: 7px;
}

a:hover {
    background: var(--ydb-orange);
    color: white !important;
}

hr {
    border: 2px solid var(--ydb-lightgray);
}

code {
    color: var(--ydb-status-green);
    background: #f0f0f0 !important;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    padding: 2px 5px;
    border: 1px silver solid;
    border-radius: 5px;
}

pre {
    border: 1px silver solid;
}

.entry-spacer {
    height: 30px;
}
