<!-- msgbox -->
<div aria-labelledby="modalLabel" class="modal  fade" id="modalMsgbox" role="dialog" tabindex="1"
     aria-hidden="true" style="z-index: 9000000000;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" style="max-height: 400px;">
        <div class="modal-content">
            <div class="modal-header center msgbox-header" id="msgboxHeader">
                <h6 class="modal-title" id="txtMsgboxTitle"></h6>
            </div>
            <div class="modal-body">
                <span id="txtMsgboxText"></span>
                <br>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-secondary" data-dismiss="modal" id="btnMsgboxOk" tabindex="2" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- msgbox with checkbox-->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal  fade" id="modalMsgboxCheck" role="dialog"
     style="z-index: 9000000000;" tabindex="1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" style="max-height: 400px;">
        <div class="modal-content">
            <div class="modal-header center msgbox-header" id="msgboxCheckHeader">
                <h6 class="modal-title" id="txtMsgboxCheckTitle"></h6>
            </div>
            <div class="modal-body">
                <span id="txtMsgboxCheckText"></span>
                <br><br>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="chkMsgboxCheck" type="checkbox">
                    <label class="custom-control-label" for="chkMsgboxCheck" id="lblMsgboxCheck"></label>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-secondary" data-dismiss="modal" id="btnMsgboxCheckOk" tabindex="2" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
